<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<header th:fragment="headerFragment">
	<div class="site-navbar fixed-top">
		<nav class="navbar navbar-expand-lg navbar-light bg-success">
			<div class="container">
				<a class="navbar-brand  font-weight-bold px-3 text-light" href="/">
					Natal Parapat
					<div style="font-size: 10px">
						SE-JABODETABEK (21 Des 2019) <br /> <span id="countdown"></span>
					</div>
				</a>
				<button type="button" class="navbar-toggler bg-success"
					data-toggle="collapse" data-target="#nav">

					<span class="navbar-toggler-icon"></span>

				</button>

				<div class="collapse navbar-collapse justify-content-between"
					id="nav">

					<ul class="navbar-nav">

						<li class="nav-item"><a
							class="nav-link text-light font-weight-bold px-3" href="/">HOME</a>

						</li>

						<li class="nav-item"><a
							class="nav-link text-light font-weight-bold px-3"
							href="panitia">PANITIA</a></li>

						<li class="nav-item"><a
							class="nav-link text-light font-weight-bold px-3" href="location">LOKASI
						</a></li>

						<li class="nav-item"><a
							class="nav-link text-light font-weight-bold px-3" href="#">CONTACT</a>

						</li>

					</ul>
				</div>
			</div>
		</nav>
	</div>
</header>

</html>