<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">
<head>
<title>Tentang Kami</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="public-header">
			<div class="container">
				<h1>[[${pageTitle}]]</h1>
			</div>
		</div>
		<div class="container bgContent">
			<div class="row" style="padding-bottom: 100px">
				<div class="col"></div>
				<div class="col-md-10">
					Marilah kita tinggalkan tentang penuturan tentang penuturan
					Rangkuti sebagaimana diuraikan dihalaman muka, pertama sekali Huta
					(Kampung) dan Kerajaan Rnagkuti di Mandailing ialah Runding. Dan
					menurut Pustaka (Perpustakaan) Rangkuti sendiri sebagaimana
					terdapat dalam catatan alm. Sutan Soripada Mulia seorang Mandailing
					Turunan Rangkuti yang pertama intelek menjadi guru H.I.S dan Mulai
					di zaman Penjajahan Belanda. Bahwa mendirikan Huta Runding itu
					bernama Raja Parapat.

					<p>Pembuktian ini masih dapat diliha di Runding, dimana setelah
						Raja Parapat pendiri Runding ini meninggal dunia beliau
						dikebumikan di Tor Sihite disuatu puncak kecil hingga sekarang
						dinamakan Tor Parapat sebagai catatan dan ingatan kepada Raja
						Parapat. Permulaan marga Rangkuti inipun adalah Raja Parapat, dan
						beliaulah yang mewariskan harimau kepada turunannya.Raja Parapat,
						selaku seorang Raja di Runding sangat ditakuti oleh setiap orang.
						Ketakutan orang dan masyarakat kepada beliau terutama sekali
						karena semua orang dan penduduk melihat bahwa beliau mempunyai
						piaraan Babiat (Harimau).</p>

					<p>Semasa hidupnya Raja Parapat, tiap hari bangun pagi pada
						kala itu tarbkta (terbangun) Raja, beliau mandi di Danau Sitombol
						letaknya danau ini berhadapan dengan danau Sampuraga mamaila
						marina (malu beribu) yang durhaka pada ibunya dan danau Sitombol
						ini tidak jauh dari Batanggadis abtara kampung Pidoli dengan Danau
						Sitombol kurang lebih 18 KM maka dalam jarak sejauh itulah Raja
						Prapat mandi pagi setiap hari. Kalau sudah “terbakta Raja “
						(bangun Raja) yaitu sekira jam 09.00 pagi, maka hatobannya (hamba
						sahayanya) mempersiapkan segala sesuatu untuk beliau, maka
						beliaupun memanggil babiatnya (harimaunya) datanglah harimau itu
						dengan menghormat pada beliau, penghormatan yang diberikan
						harimaunya itu dengan menjilat-jilat kaki beliau. Kemudian babiat
						itu menyediakan punggungnya/belakangnya untuk ditunggang Raja
						Parapat dan naiklah Raja Parapat, dan seterusnya dibawa babiatnya
						itulah beliau terus ke Danau Sitombol dan disanalah beliau mandi,
						sedangkan babiatnya menunggu beliau dengan khidmat sekali. Sesudah
						beliau telah selesai mandi, maka babiatnya pun ditunggangi beliau
						kembali lantas dibawalah beliau kembali ke Runding. Begitulah
						adanya maka dikatakan beliau sebagai seorang Raja yang ditakuti,
						karena Rajanya ditakuti maka rakyatnya juga ditakutisetiap orang
						pula; apabila datang seseorang dari Rundng lantas orang berkata
						........, itu orang ditakuti.</p>
					<p>Dengan asal kata “Orang Ditakuti” itulah berlanjut menjadi
						“Orangkuti”dan akhirnya menjadi “ Rangkuti”. Hal ini dapat
						diterima akal, misalnya Nurseha mengarang lagunya “Orang-Talu”
						hingga langgamnya kedengaran bukan orang-talu melainkan “Rangtalu”
						maka demikian pulalah halnya dengan ‘Orang ditakuti” menjadi
						“Rangkuti” yang kemudian akhirnya menjadi marga Rangkuti.</p>
					<p>Tentang bagaimana jampinya untuk menjinakkan harimau itu,
						hanya Rangkutilah yang mengetahinya, itupun bukan semua, tetapi
						dalam satu generasi mesti ada yang tahu. Juga tentang bagaimana
						cara perawatannya ada ketenuan-ketentuan yang menjadi tatakramanya
						bagi Rangkuti.</p>
					<p>Manakala terjadi pengamukan Babiat (Harimau) misal sampai
						menerkam manusia, itu adalah akibat persyaratan rawatnya yang
						tidak menurut semestinya sebagai yang diwasiatkan Raja Parapat.</p>
					<p>Setiap marga Rangkuti, apabila meliahat bekas jejak Babiat
						(Harimau) mereks berkewajiban untuk membuat kandangnya (pagarnya)
						walau ranting kayu kecil sekalipun dan apabila ada harimau yang
						mati baik mati karena tua maupun mati karena ditembak, maka yang
						bermarga Rangkuti yang berada ditempat kejadian, haruslah membawa
						hidangan sirih yang dikatakan sekapur sirih lalu disuguhkan
						kemulutnya.</p>
					<p>Pada umumnya kepada yang bermarga Rangkuti, Babiat (Harimau)
						tidak akan mau menghianatinya, misalnya kalau ada Babiat (Harimau)
						yang mengamuk karena ia tentembak akiabat diburu orang, boleh
						dicoba membawa seseorang marga Rangkuti berjalan di sekitar dimana
						Babiat (Harimau) yang mengamuk itu, mudah-mudahan kita akan selama
						tidak diganggunya.</p>
				</div>
				<div class="col"></div>
			</div>
		</div>

		<!-- 
		<div th:insert="fragments/section :: footer-section"></div>
 -->
	</div>
</body>
</html>