<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">
<head>
<title>Panitia Natal</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="public-header">
			<div class="container">
				<h1>[[${pageTitle}]]</h1>
			</div>
		</div>

		<div class="container bgContent">
			<div class="row">
				<div class="col text-center">
					<h5>
						<strong>Ketua</strong>
					</h5>
					<p>Ruston Parapat,Mkom,MBA</p>
					<h5>
						<strong>Wakil Ketua</strong>
					</h5>
					<p>Ir. Hisar Parapat</p>
					<h5>
						<strong>Sekretaris</strong>
					</h5>
					<p>Benny Parapat SE,Ak</p>
					<h5>
						<strong>Bendahara</strong>
					</h5>
					<p>Anna br Parapat SE,MM</p>

				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col"></div>
				<div class="col-md-3">
					<ol>
						<h5><strong>Seksi Dana</strong></h5>
						<li>Halomoan Parapat SH</li>
						<li>Jonatan Parapat SE MBA</li>
						<li>Ir.Bona Parapat M.Eng</li>
						<li>Reinhard Parapat SH,MH</li>
						<li>Ridwan Parapat SH,MH</li>
						<li>Hotman Parapat</li>
						<li>Poltak Parapat</li>
					</ol>

				</div>
				<div class="col-md-3">
					<ol>
						<h5>
							<strong>Seksi Acara</strong>
						</h5>
						<li>Pdt DR.Julius Parapat,MTh</li>
						<li>Pdt.Bertua br Parapat</li>
						<li>Anna br Parapat SE,MM</li>
						<li>St.T.Pardede</li>
					</ol>
				</div>
				<div class="col-md-3">
					<ol>
						<h5><strong>Seksi Perlengkapan</strong></h5>
						<li>Andreas Parapat SE,MBA</li>
						<li>Selamat Parapat</li>
						<li>Maradona Parapat</li>
					</ol>

				</div>
				<div class="col"></div>
			</div>
			<hr>
			<div class="row" style="padding-bottom: 150px">
				<div class="col"></div>
				<div class="col-md-3"></div>
				<div class="col-md-3">
					<ol>
						<h5><strong>Seksi Publikasi</strong></h5>
						<li>Momos Parapat ,SKom</li>
						<li>Teddy Parapat</li>
					</ol>

				</div>

				<div class="col-md-3">
					<ol>
						<h5><strong>Seksi Konsumsi</strong></h5>
						<li>Ny.R Saragih br Parapat</li>
						<li>Ny.Tambunan br Parapat</li>
						<li>Ny.R .Sianipar br Parapat</li>
					</ol>

				</div>
				<div class="col"></div>
			</div>
		</div>
		<!-- 		<div th:insert="fragments/section :: footer-section"></div>
 -->
	</div>
</body>
</html>