<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">
<th:block layout:fragment="css">
</th:block>
<th:block layout:fragment="script">
</th:block>
<head>
<title>Home</title>
</head>
<body>
	<div layout:fragment="content">

		<div
			style="margin-top: 72px; padding-left: 0; padding-right: 0; border: 1px solid #4FA845;"
			id="garda-carousel" class="carousel slide" data-ride="carousel">
			<ul class="carousel-indicators">
				<li data-target="#garda-carousel" data-slide-to="0" class="active"></li>
				<li data-target="#garda-carousel" data-slide-to="1"></li>
				<li data-target="#garda-carousel" data-slide-to="2"></li>
				<li data-target="#garda-carousel" data-slide-to="3"></li>
				<li data-target="#garda-carousel" data-slide-to="4"></li>
			</ul>
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="/images/carousel/nature-1.jpg" alt="A">
					<div class="carousel-caption text-danger">
						<h2>
							<strong>Thema</strong>
						</h2>
						<p>
						<h6>
							<strong>Yesus Juru Selamat, Sang Pembaharu Kehidupan <br />(Matius
								1:21)
							</strong>

						</h6>
					</div>
				</div>
				<div class="carousel-item">
					<img src="/images/carousel/nature-2.jpg" alt="B">
					<div class="carousel-caption">
						<h2>
							<strong>Sub Thema</strong>
						</h2>
						<h6>
							<strong> Kelahiran Tuhan Yesus memperbaharui hidup dan
								menguatkan kita <br />untuk menghadapi perubahan zaman
							</strong>
						</h6>
					</div>
				</div>
				<div class="carousel-item">
					<a href="/pembicara"><img src="/images/carousel/nature-3.gif"
						alt="C"></a>
					<div class="carousel-caption text-info">
						<h4>
							<strong>Pelayan Firman Tuhan</strong>
						</h4>
						<h6>
							<a href="/pembicara"><strong>Pdt. Judika Sihaloho</strong></a>
						</h6>
					</div>
				</div>
				<div class="carousel-item">
					<img src="/images/carousel/nature-4.jpg" alt="D">
					<div class="carousel-caption text-danger">
						<h2>
							<strong>Waktu</strong>
						</h2>
						<h6>
							<strong>Hari : Sabtu, 21 Des 2019<br /> Pukul : 17.00
								Wib s/d Selesai.
							</strong>
						</h6>
					</div>
				</div>
				<div class="carousel-item">
					<div class="embed-responsive embed-responsive-16by9"
						style="border-radius: 25px;">
						<iframe class="embed-responsive-item"
							src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.565486927468!2d106.84524975087474!3d-6.188852895497587!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f446834bfeef%3A0x5337fa5549a8b700!2sThe%20Acacia%20Hotel%20%26%20Resort!5e0!3m2!1sen!2sid!4v1575268658249!5m2!1sen!2sid"
							frameborder="0" style="border: 0;" allowfullscreen=""></iframe>

					</div>
					<div class="text-center text-info">
						<h3>
							<strong>Tempat</strong>
						</h3>
						<h6>
							<strong>Ballroom Hotel Acacia.<br /> Jl. Kramat raya
								no. 73-81, Kec. Senen, Jakarta Pusat.
							</strong>
						</h6>
					</div>
				</div>
			</div>
			<a class="carousel-control-prev" href="#garda-carousel"
				data-slide="prev"> <span class="carousel-control-prev-icon"></span>
			</a> <a class="carousel-control-next" href="#garda-carousel"
				data-slide="next"> <span class="carousel-control-next-icon"></span>
			</a>
		</div>
		<div class="container bgContent">
			<div class="row" style="padding-bottom: 100px">
				<div class="col"></div>
				<div class="col-md-8">
					<img src="/images/undangan.jpeg" class="img-fluid"
						style="border-radius: 25px;" alt="Responsive image">
				</div>
				<div class="col"></div>
			</div>
		</div>
	</div>
</body>
</html>