<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">
<head>
<title>Pelayan Firman Tuhan</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="public-header">
			<div class="container">
				<h1>[[${pageTitle}]]</h1>
			</div>
		</div>
		<div class="container bgContent">
			<div class="row" style="padding-bottom: 100px">
				<div class="col"></div>
				<div class="col-md-10">
					<h3>
						<strong>Profil Pdt. Judika Sihaloho</strong>
					</h3>
					<p>Informasi belum tersedia..</p>
				</div>
				<div class="col"></div>
			</div>
		</div>

		<!-- 
		<div th:insert="fragments/section :: footer-section"></div>
 -->
	</div>
</body>
</html>