<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">
<head>
<title>Pelayan Firman Tuhan</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="public-header">
			<div class="container">
				<h1>[[${pageTitle}]]</h1>
			</div>
		</div>
		<div class="container bgContent">
			<div class="row" style="padding-bottom: 100px">
				<div class="col"></div>
				<div class="col-md-10">
					<div class="row">
						<div class="col-md-4">
							<img src="/images/judika-pdt.jpg">
							<h5>
								<strong>Pdt. Judika Sihaloho, M.Th.</strong>
							</h5>

						</div>
						<div class="col-md-8">
							<h3>Profil</h3>
							<p>Layaknya kebanyakan anak-anak muda Batak di bona pasogit
								(kampung halaman), Judika muda menjalani kehidupannya dengan
								“gaya Medan-nya”. Bersama teman-teman mudanya ia men-jalani
								hari-hari hidup yang dianggap “normal”, Sampai suatu saat ia di
								jamah Tuhan lewat se-buah kotbah dalam sebuah ibadah di GBI
								Bukit Zaitun Medan pada bulan Maret 1990. Peristiwa itu menjadi
								titik balik yang mengubahkan hidup-nya dan bertekad meninggalkan
								cara hidup lama. Di gereja tersebut dipercayakan menjadi ketua
								pemuda dan ketua pelayanan musik.</p>
							<p>Dengan sebuah komitmen yang kuat untuk melayani Tuhan, ia
								menempuh jarak 2000 km dari Medan menuju Jakarta. Tahun
								1997-1998 masuk Sekolah Penginjil di Seminari Bethel Jakarta.
								Ditempat yang sama (2002), ia menyelesaikan study S1 dengan
								gelar Sarjana Teologia. Memulai pelayanan di GBI Rehobot sejak
								Agustus 1998. Pernah menjadi ketua pemuda di Rehobot Perdatam
								(saat itu Rehobot masih di Perdatam saja), menjadi ketua
								Departemen Musik dan saat ini dipercayakan menjadi Gembala
								Wilayah Rehobot THB. Tahun 2001, tepatnya pada tanggal 30 Juni,
								memutuskan mengakhiri masa lajangnya dengan mempersunting
								seorang wanita cantik bernama Elizabeth Tanzania. Tuhan
								mengaruniakan dua putri yang cantik-cantik yang akrab disapa
								“Chella” dan “Thea”. Perjumpaannya dengan Tuhan telah mengubah
								paradigmanya: Kasih Kristuslah yang membuat hidup seseorang
								bernilai. Dengan moto hidup “Hidupku bukan aku lagi tetapi
								Kristus yang hidup di dalam aku”, menjadi bahan bakar yang
								menyalakan semangat dan gairahnya untuk melayani Tuhan setiap
								saat.</p>

							<p>
							<h6>
								<strong>Pendidikan: S1, Seminari Bethel, Theologia</strong>
							</h6>
							<p>
							<h6>
								<strong>Karier: Gembala Wilayah Rehobot THB</strong>
							</h6>

						</div>
					</div>
				</div>
				<div class="col"></div>
			</div>
		</div>

		<!-- 
		<div th:insert="fragments/section :: footer-section"></div>
 -->
	</div>
</body>
</html>