<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">
<head>
<title>Proposal</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="public-header">
			<div class="container">
				<h1>[[${pageTitle}]]</h1>
			</div>
		</div>
		<div class="container bgContent">
			<div class="row" style="padding-bottom: 50px">
				<div class="col"></div>
				<div class="col-md-10">
					<div class="embed-responsive embed-responsive-16by9"
						style="border-radius: 25px;">

						<iframe frameborder="0"
							style="padding: 5px; background: #ffffff;"
							src="/files/Proposal_Panitia_Natal_Bersama.pdf"></iframe>
					</div>
				</div>
				<div class="col"></div>
			</div>
		</div>
	</div>
</body>
</html>